<!DOCTYPE html>
<html>
<head>
  <title>Bhalode Academy</title>
  <link rel="icon" type="image/png" href="static/OIP.jpg">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/styles.css"> 
 
</head>

<body>
  <div class="navbar">
    <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="#"><i class="fa fa-fw fa-search"></i> Teacher Search</a>
    <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
    <a href="/login"><i class="fa fa-fw fa-user"></i> Login</a>
  </div>

  <div class="row">
    <div class="column">
      <h1>Teacher Login</h1>
      <form action="/submit" method="POST">
        <label for="Username">Username:</label>
        <input type="text" id="Username" name="Username"><br>
        <label for="Password">Password:</label>
        <input type="password" id="Password" name="Password"><br>
        <input type="submit" value="Submit">
      </form>
    </div>

    <div class="column">
      <h1>Parent Login</h1>
      <form action="/submit_parent" method="POST">
        <label for="Username">Username:</label>
        <input type="text" id="Username" name="Username"><br>
        <label for="Password">Password:</label>
        <input type="password" id="Password" name="Password"><br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
  
  <div class="footer">
    &copy; 2023 Bhalode Academy. All rights reserved.
  </div>

</body>

</html>
